<#include frame_public.html>

<section>
    
    <div id="breadcrumb-nav" class="col-md-12">                 
        <#list breadcrumb as node>
        <a href="profile?id=${node.user.id}" class="ball" title='${node.user.name} <#if node.label != "">(${node.label?capitalize})</#if>' data-toggle="tooltip"  data-placement="right">
                <img src="image-view?id=${node.user.id}" class="img-circle img-cover" alt="profile" />
            </a>
        </#list>           
    </div>
    
    
    
</section>

<#include footer.html>
