<#include "frame_public.html">

<section class="search profile">
    
    <div id="breadcrumb-nav" class="col-md-12">                 
        <#list breadcrumb as node>
        <a href="profile?id=${node.user.id}" class="ball" title='${node.user.name} <#if node.label != "">(${node.label?capitalize})</#if>' data-toggle="tooltip"  data-placement="right">
                <img src="image-view?id=${node.user.id}" class="img-circle img-cover" alt="profile" />
            </a>
        </#list>           
    </div>
    
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
        <div class="panel panel-body blue-background search-filters">
            <h4>Add relative to ${user_current.name} ${user_current.surname}</h4>
            <form action="search" method="POST">
                <fieldset>
                    <input class="form-control" type="text" name="name" placeholder="Name" value=""/>
                    <input class="form-control" type="text" name="surname" placeholder="Surname" value=""/>                                
                    <input class="form-control" type="text" name="birthplace" placeholder="Birthplace" value=""/>
                    <input class="form-control" type="text" name="birthdate" placeholder="Birthdate" value=""/>
                </fieldset>
                
                <div class="col-md-6 col-sm-6 col-xs-6 padding-none">
                    <a href="search" id="search-reset-filters" class="btn btn-default pull-left">Reset filters <i class="fa fa-fw fa-times"></i></a>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 padding-none">
                    <button type="submit" class="btn btn-inverse pull-right filter-search-button">Search <i class="fa fa-fw fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    
    
</section>

<#include "footer.html">
