    <#if user_logged??>
        <footer>
            <ul>    
                
                <li class="xs-hidden">
                    <a href="requests" class='ball requests <#if active_button! == "requests">active<#else>red</#if>'
                       title="${request!} new requests" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-user-plus fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="profile" class='ball tree hover-blue <#if active_button! == "profile">active</#if>'
                       title="Profile" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-user fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="settings" class='ball settings hover-blue <#if active_button! == "settings">active</#if>'
                       title="Settings" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-cog fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="logout" class="ball logout hover-blue" title="Logout" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-sign-out fa-2x"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </#if>

    </body>
</html>