<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>
            <#if user_logged??>
                ${user_logged.name} ${user_logged.surname}
            <#else>
                ${action?cap_first}
            </#if> | Collaborative Genealogy
        </title>
        
        <!-- icon -->
        <link rel="shortcut icon" href="template/images/favicon.ico" />
        <!-- App Styling Bundle -->
        <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
        <link href="template/css/blue.css" rel="stylesheet">
        <link href="template/css/style.css" rel="stylesheet">
        <link href="template/css/responsive.css" rel="stylesheet">
        <!--Script-->
        <script src="template/js/vendor.min.js"></script>
        <script src="template/js/myscript.js"></script>
        
        <#if login_script??><script src="template/js/login.js"></script></#if>
        <#if settings_script??><script src="template/js/settings.js"></script></#if>
    </head>
    
    <body>

        <header>
            
            <div class="xs-hidden" id="tree-icon">
                <a href="/collaborative_genealogy/"><img class="pull-left" src="template/images/tree-icon-200.png" alt="tree logo"/></a>
            </div>
            
            <div id="search-bar" class="col-md-4 col-sm-4 col-xs-8">
                <form method="POST" action="search" >
                    <input type="submit" name="search-bar-button" value="search-bar" />
                    <input type="text" name="search-bar-input" placeholder="Search" required />
                </form>
            </div>

            <div class="col-xs-4 button-top-right pull-right">
                <#if user_logged??>
                
                    <a href="profile" class="btn btn-primary pull-right ellipsis">
                        <img src="image-view?id=${user_logged.id}" alt="profile image" class="img-circle img-cover to-refresh"/>
                        <p class="inline-block">&nbsp;${user_logged.name}</p>
                    </a>
                    
                <#else>
                
                    <#if action == "signup" || action == "search">
                        <#assign other_action = "login">
                    <#else>
                        <#assign other_action = "signup">
                    </#if>
                    
                    <a href="${other_action}" class="btn btn-primary pull-right ellipsis">
                        <p class="inline-block">${other_action?cap_first}</p>
                    </a>
                </#if>
            </div>
        </header>