<#include "frame_public.html">

<section class="login">
    

    
    <div class="col-md-12">
        <div class="lock-container">
            <div class="panel-default text-center">

                <form action="${action}" class="panel-body main-form" method="POST">

                    <fieldset class="rounded">

                        <input class="form-control" name="email" type="text" placeholder="E-mail"  />  
                        <input class="form-control" name="name" type="text" placeholder="Name" />  
                        <input class="form-control" name="surname" type="text" placeholder="Surname" /> 
                        <select name="gender" class="form-control">
                            <option value="" readonly selected>Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <input class="form-control" name="birthdate" type="text" placeholder="Birthdate (dd/mm/yyyy)" />  
                        <input class="form-control" name="birthplace" type="text" placeholder="Birthplace" />  

                    </fieldset>

                    <#if action == "create">
                        <#assign button_icon = "unlock-alt">
                    <#else>
                        <#assign button_icon = "user">
                    </#if>

                    <#if message??>
                        <div class="form-message <#if !(message.msg??)>hide</#if>">
                            <i class="fa fa-times"></i><p>${message.msg!}</p>
                        </div>
                    </#if>

                    <button id="submit" type="submit" class="col-xs-12 btn btn-primary">${action?cap_first} <i class="fa fa-fw fa-${button_icon}"></i></button>
            </div>
        </div>
    </div>
</section>

<#include "footer.html">