<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>uBlog - Login</title>
    <!-- icon -->
    <link rel="shortcut icon" href="template/images/favicon.ico" />
    <!-- App Styling Bundle -->
    <link href="template/css/blue.css" rel="stylesheet">
    <link href="template/css/style.css" rel="stylesheet">
    <!--Script-->
</head>

<body class="login">
    <div class="layer"></div>
    <div class="col-xs-12 content">
            
            <div class="col-xs-12 header">
                
                <div class="col-md-11 test">
                    <div id="tree-icon" class="col-xs-1">
                        <img  src="template/images/tree-icon.png">
                    </div>
                    <div id="search-bar" class="col-xs-10">
                        <input placeholder="Search" required>
                    </div>
                    
                </div>
                
                <div class="col-md-1 button-top-right">
                    <a href="signup" class="btn btn-primary pull-right">Signup</a>
                </div>
            </div>
            
        
            <div class="col-xs-12 title">
                <h1>Collaborative Genealogy</h1>
            </div>
        
        
        
            <div class="col-xs-12">

                <div class="lock-container">

                    <div class="panel-default text-center">
                        <form class="panel-body" method="POST">
                            <fieldset>
                                <input class="form-control" id="email-field" name="email" type="email" placeholder="E-mail" required>
                                <input class="form-control" name="password" type="password" placeholder="Password" required>
                            </fieldset>
                            <button type="button" id="button-login" class="col-xs-12 btn btn-primary">Login <i class="fa fa-fw fa-unlock-alt"></i></button>

                        </form>
                        <a class="forgot-password">Forgot password?</a>
                    </div>
                </div>

        </div>
    </div>
</body>



</html>
