<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>${currentuser.name} - Collaborative Genealogy</title>
        <!-- icon -->
        <link rel="shortcut icon" href="template/images/favicon.ico" />
        <!-- App Styling Bundle -->
        <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
        <link href="template/css/blue.css" rel="stylesheet">
        <link href="template/css/style.css" rel="stylesheet">
        <link href="template/css/responsive.css" rel="stylesheet">
        <!--Script-->
     
       
    </head>
    <body>
        <div class="layer"></div>

        <div class="content">

            <header>

                <div id="tree-icon" class="col-md-1 col-sm-1 col-xs-1">
                    <a href="/Collaborative_Genealogy"><img class="pull-right" src="template/images/tree-icon-200.png" alt="tree logo"/></a>
                </div>

                <div id="search-bar" class="col-md-4 col-sm-4 col-xs-12">
                    <form method="POST" >
                        <input type="button" />
                        <input placeholder="Search" type="text" required />
                        
                    </form>
                </div>

                <div class="col-md-1 col-sm-1 col-xs-12 button-top-right pull-right">
                    <a href="profile?id=${loggeduser.id}" class="btn btn-primary pull-right">
                            <img src="template/profile/${loggeduser.imageurl}" alt="people" class="img-circle avatar avatar-square"/>
                            &nbsp;${loggeduser.name}
                    </a>
                </div>

            </header>

            <!-- <div class="col-md-12 title text-center">
                <h1>Collaborative Genealogy</h1>
                <img src="template/images/tree-icon-200.png" alt="tree logo" />
            </div> -->
            <section class="login">
                
                <!--<div id="content">-->
        
                    <div class="col-md-12 user-info main-tile">
                        <!--<div class="panel panel-default">-->
                            <div class="panel-body dark dark-background">   
                                <div class="relative-image col-md-2">
                                    <img src="template/profile/${currentuser.imageurl}" alt="people" class="img-circle avatar" />
                                </div>
                                <div class="col-md-4 relative-info">
                                    <h3 class="profile-relative-name">${currentuser.name} ${currentuser.surname}</h3>
                                    <p><i class="fa fa-calendar"></i> ${currentuser.birthdate}</p>
                                    <p><i class="fa fa-map-marker"></i> ${currentuser.birthplace}</p>
                                </div>
                                <div class="col-md-6 relative-bio">
                                    <p>${currentuser.bio}</p>
                                </div>
                            </div>
                        <!--</div> -->
                    </div>
                <!-- </div>-->
                
            </section>
            
            <footer>
                
            </footer>
            
        </div>
    </body>

</html>
