<#include "frame_public.html">

    <section class="profile">

        <!-- Breadcrumb nav -->
        <div id="breadcrumb-nav" class="col-md-12">  
            
            
            
            <#list breadcrumb as node>
                <a href="profile?id=${node.user.id}" class="ball" title='${node.user.name} <#if node.label != "">(${node.label?capitalize})</#if>' data-toggle="tooltip"  data-placement="right">
                    <img src="image-view?id=${node.user.id}" class="img-circle img-cover" alt="profile" />
                </a>
            </#list> 
            
            
            <#if !(breadcrumb?size < 3)>
                <a href="profile?id=${user_current.id}&clear=true" class="ball" title="Clear navigation" data-toggle="tooltip"  data-placement="right">
                   <img src="template/images/cleaner.png" class="img-circle img-cover" alt="profile" />
                </a>
            </#if>
            
        </div>

        <!-- Current user -->
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
            <div class="panel panel-body blue-background">
                <div class="col-md-12 top-name">
                    <h3>${user_current.name} ${user_current.surname}</h3>
                </div>
                <div class="col-md-4 responsive-row">
                    <div class="img-circle">
                        <img src="image-view?id=${user_current.id}" alt="profile image" class="img-circle img-cover" />
                    </div>
                    <ul class="anagraphics-info">
                        <li>
                            <p><i class="fa fa-calendar"></i> ${user_current.birthdate?date?string("dd/MM/yyyy")}</p>
                        </li>
                        <li>
                            <p><i class="fa fa-map-marker"></i> ${user_current.birthplace}</p>
                        </li>
                        <li>
                            <p><i class="fa fa-user"></i>
                                <#if relative_grade??>
                                    ${relative_grade?capitalize}                       
                                <#else>
                                    You
                                </#if>
                            </p>
                        </li>
                        <li>
                            <p><a href="addrelative?to=${user_current.id}"><i class="fa fa-plus"></i>
                                Add a relative
                            </a></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 biography-box">
                    <h3 class="main-name">${user_current.name} ${user_current.surname}</h3>
                    <#if user_current.biography != "">
                        <p><i class="fa fa-quote-left top-quote"></i> ${user_current.biography} <i class="fa fa-quote-right top-quote"></i></p>
                    <#else>
                        <p class="bio-miss">Missing biography</p>
                    </#if>
                </div>
            </div>
        </div>
        
        <#if message??>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
                <div class="form-message text-center dark-background">
                    <p><i class="fa fa-info-circle"></i> ${message}</p>
                    <!--<a href="#"><i class="fa fa-times pull-right"></i></a>-->
                </div>
            </div>
        </#if>

        <#if father?? || mother??>
        
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile-label">
                <p>Parents <i class="fa fa-chevron-down"></i></p>
            </div>

            <!-- Parent tile -->
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
                
                <#if father??>
                    <!-- Father -->
                    <#assign relative = father>
                    <#include "profile-tile.html">
                </#if>
                
                <#if mother??>
                     <!-- Mother -->
                    <#assign relative = mother>
                    <#include "profile-tile.html">
                </#if>
                
            </div>
        </#if>

        
        <#if spouse??>
            <!-- Spouse -->
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile-label">
                <p>
                    <#if user_current.gender == "male">
                        Wife 
                    <#else>
                        Husband
                    </#if>    
                    <i class="fa fa-chevron-down"></i>
                </p>
            </div>
        
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
                <#assign relative = spouse>
                <#include "profile-tile.html">
            </div>
            
        </#if>

        
        <#list children>
            <!-- Children -->
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile-label">
                <p>Children <i class="fa fa-chevron-down"></i></p>
            </div>
            
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
                <#items as child>
                    <#assign relative = child>
                    <#include "profile-tile.html">
                </#items>
            </div>
        </#list>

         
        <#list siblings>
            <!-- Siblings -->
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile-label">
                <p>Siblings <i class="fa fa-chevron-down"></i></p>
            </div>
           
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
                <#items as sibling>
                    <#assign relative = sibling>
                    <#include "profile-tile.html">
                </#items>
            </div>
        </#list>


    </section>
 
<#include "footer.html">
