
<div class="panel panel-body dark-background">
    
    <#if relative.label == "father" || relative.label == "mother" || relative.label == "daughter" ||relative.label == "son" || relative.label == "husband" || relative.label == "wife" >
        <form action="#" class="delete-relative hover-blue">
            <button href="#"><i class="fa fa-times"></i></button>
        </form>
    </#if>
    <div class="col-md-12 top-name">
        <a href="profile?id=${relative.user.id}">
            <h3 class="hover-blue">${relative.user.name} ${relative.user.surname}</h3>
        </a>
    </div>
    <div class="col-md-4 responsive-row">
        <div class="img-circle">
            <a href="profile?id=${relative.user.id}">
                <img src="image-view?id=${relative.user.id}" alt="profile image" class="img-circle img-cover" />
            </a>
        </div>
        <ul class="anagraphics-info">
            <li>
                <p><i class="fa fa-calendar"></i> ${relative.user.birthdate?date?string("dd/MM/yyyy")}</p>
            </li>
            <li>
                <p><i class="fa fa-map-marker"></i> ${relative.user.birthplace}</p>
            </li>
            <#if relative.label != "">
                <li>
                    <p><i class="fa fa-user"></i> ${relative.label?capitalize}</p>
                </li>
            </#if>
        </ul>

    </div>
    <div class="col-md-8 biography-box">
        <a href="profile?id=${relative.user.id}">
            <h3 class="main-name hover-blue">${relative.user.name} ${relative.user.surname}</h3>
        </a>
        <#if relative.user.biography != "">
            <p>${relative.user.biography}</p>
        <#else>
            <p class="bio-miss">Missing biography</p>
        </#if>
    </div>
</div>