<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>${currentuser.name} - Collaborative Genealogy</title>
        <!-- icon -->
        <link rel="shortcut icon" href="template/images/favicon.ico" />
        <!-- App Styling Bundle -->
        <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
        <link href="template/css/blue.css" rel="stylesheet">
        <link href="template/css/style.css" rel="stylesheet">
        <link href="template/css/responsive.css" rel="stylesheet">
        <!--Script-->
     
       
    </head>
    <body>
        <div class="layer"></div>

        <div class="content">

            <header>

                <div id="tree-icon" class="col-md-1 col-sm-1 col-xs-1">
                    <a href="/Collaborative_Genealogy"><img class="pull-right" src="template/images/tree-icon-200.png" alt="tree logo"/></a>
                </div>

                <div id="search-bar" class="col-md-4 col-sm-4 col-xs-12">
                    <form method="POST" >
                        <input type="button" />
                        <input placeholder="Search" type="text" required />
                        
                    </form>
                </div>

                <div class="col-md-1 col-sm-1 col-xs-12 button-top-right pull-right">
                    <a href="logout" class="btn btn-primary pull-right">
                            <!--<img src="template/profile/${loggeduser.imageurl}" alt="profile image" class="img-circle avatar avatar-square"/>-->
                            &nbsp;Logout
                    </a>
                </div>

            </header>

            <!-- <div class="col-md-12 title text-center">
                <h1>Collaborative Genealogy</h1>
                <img src="template/images/tree-icon-200.png" alt="tree logo" />
            </div> -->
            <section>
                
                <div class="container-fluid users">
                    <!-- Current user -->
                    <div class="col-md-12 user-info main-tile">
                        <div class="panel panel-body blue-background">
                            <div class="col-md-12 relative-name top-name">
                                <h3>${currentuser.name} ${currentuser.surname}</h3>
                            </div>
                            <div class="col-md-3 inrow-div">
                                <div class="img-circle">
                                    <img src="template/profile/${currentuser.imageurl}" alt="profile image" class="img-circle avatar" />
                                </div>
                                <div class="relative-anagraphics-info">
                                    <p><i class="fa fa-calendar"></i> ${currentuser.birthdate}</p>
                                    <p><i class="fa fa-map-marker"></i> ${currentuser.birthplace}</p>
                                </div>
                            </div>
                            <div class="col-md-9 relative-bio relative-name">
                                <h3 class="relative-name main-name">${currentuser.name} ${currentuser.surname}</h3>
                                <p>${currentuser.bio}</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Father -->
                    <div class="col-md-12 user-info relative-tile">
                        <div class="panel panel-body light-background">
                            <div class="col-md-12 relative-name top-name">
                                <h3>${father.name} ${father.surname}</h3>
                            </div>
                            <div class="col-md-3 inrow-div">
                                <div class="img-circle">
                                    <img src="template/profile/${father.imageurl}" alt="profile image" class="img-circle avatar" />
                                </div>
                                <div class="relative-anagraphics-info">
                                    <p><i class="fa fa-calendar"></i> ${father.birthdate}</p>
                                    <p><i class="fa fa-map-marker"></i> ${father.birthplace}</p>
                                </div>
                            </div>
                            <div class="col-md-9 relative-bio relative-name">
                                <h3 class="relative-name main-name">${father.name} ${father.surname}</h3>
                                <p>${father.bio}</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Mother -->
                    <div class="col-md-12 user-info relative-tile">
                        <div class="panel panel-body light-background">
                            <div class="col-md-12 relative-name top-name">
                                <h3>${mother.name} ${mother.surname}</h3>
                            </div>
                            <div class="col-md-3 inrow-div">
                                <div class="img-circle">
                                    <img src="template/profile/${mother.imageurl}" alt="profile image" class="img-circle avatar" />
                                </div>
                                <div class="relative-anagraphics-info">
                                    <p><i class="fa fa-calendar"></i> ${mother.birthdate}</p>
                                    <p><i class="fa fa-map-marker"></i> ${mother.birthplace}</p>
                                </div>
                            </div>
                            <div class="col-md-9 relative-bio relative-name">
                                <h3 class="relative-name main-name">${mother.name} ${mother.surname}</h3>
                                <p>${mother.bio}</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Husband/Wife -->
                    <div class="col-md-12 user-info relative-tile">
                        <div class="panel panel-body light-background">
                            <div class="col-md-12 relative-name top-name">
                                <h3>${spouse.name} ${spouse.surname}</h3>
                            </div>
                            <div class="col-md-3 inrow-div">
                                <div class="img-circle">
                                    <img src="template/profile/${spouse.imageurl}" alt="profile image" class="img-circle avatar" />
                                </div>
                                <div class="relative-anagraphics-info">
                                    <p><i class="fa fa-calendar"></i> ${spouse.birthdate}</p>
                                    <p><i class="fa fa-map-marker"></i> ${spouse.birthplace}</p>
                                </div>
                            </div>
                            <div class="col-md-9 relative-bio relative-name">
                                <h3 class="relative-name main-name">${spouse.name} ${spouse.surname}</h3>
                                <p>${spouse.bio}</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Children -->
                    <div class="col-md-12 user-info relative-tile">
                        <div class="panel panel-body light-background">
                            <div class="col-md-12 relative-name top-name">
                                <h3>${child.name} ${child.surname}</h3>
                            </div>
                            <div class="col-md-3 inrow-div">
                                <div class="img-circle">
                                    <img src="template/profile/${child.imageurl}" alt="profile image" class="img-circle avatar" />
                                </div>
                                <div class="relative-anagraphics-info">
                                    <p><i class="fa fa-calendar"></i> ${child.birthdate}</p>
                                    <p><i class="fa fa-map-marker"></i> ${child.birthplace}</p>
                                </div>
                            </div>
                            <div class="col-md-9 relative-bio relative-name">
                                <h3 class="relative-name main-name">${child.name} ${child.surname}</h3>
                                <p>${child.bio}</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Siblings -->
                    <#list siblings as sibling>
                    <div class="col-md-12 user-info relative-tile">
                        <div class="panel panel-body light-background">
                            <div class="col-md-12 relative-name top-name">
                                <h3>${sibling.name} ${sibling.surname}</h3>
                            </div>
                            <div class="col-md-3 inrow-div">
                                <div class="img-circle">
                                    <img src="template/profile/${sibling.imageurl}" alt="profile image" class="img-circle avatar" />
                                </div>
                                <div class="relative-anagraphics-info">
                                    <p><i class="fa fa-calendar"></i> ${sibling.birthdate}</p>
                                    <p><i class="fa fa-map-marker"></i> ${sibling.birthplace}</p>
                                </div>
                            </div>
                            <div class="col-md-9 relative-bio relative-name">
                                <h3 class="relative-name main-name">${sibling.name} ${sibling.surname}</h3>
                                <p>${sibling.bio}</p>
                            </div>
                        </div>
                    </div>
                    </#list>
                </div>
                
            </section>
            
           <footer>
                <a class="ball logout pull-right" title="Logout">
                    <i class="fa fa-sign-out fa-2x"></i>
                </a>
                
                <a class="ball settings pull-right" title="Settings">
                    <i class="fa fa-cog fa-2x"></i>
                </a>

        </footer>
            
        </div>
    </body>

</html>
