<#include "frame_public.html">

<section class="profile requests">
    
    <#if message.msg??>
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
            <div class="form-message text-center dark-background">
                <p><i class="fa fa-info-circle"></i> ${message}</p>
            </div>
        </div>
    </#if>
    
    <#if requests??>
        <#list requests as request>
            <div class="col-sm-6 col-sm-offset-3 tile rounded">
                <div class="panel panel-body dark-background">

                    <div class="col-md-12 top-name">
                        <a href="profile?id=${request.sender.id}">
                            <h3 class="hover-blue">${request.sender.name?capitalize} ${request.sender.surname?capitalize}</h3>
                        </a>
                    </div>
                    <div class="col-md-4 responsive-row">
                        <div class="img-circle">
                            <a href="profile?id=${request.sender.id}">
                                <img src="image-view?id=${request.sender.id}" alt="profile image" class="img-circle img-cover" />
                            </a>
                        </div>
                        <ul class="anagraphics-info">
                            <li>
                                <p><i class="fa fa-calendar"></i> ${request.sender.birthdate?date?string("dd/MM/yyyy")}</p>
                            </li>
                            <li>
                                <p><i class="fa fa-map-marker"></i> ${request.sender.birthplace}</p>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-8 biography-box">
                        <a href="profile?id=${request.sender.id}">
                            <h3 class="main-name hover-blue">${request.sender.name?capitalize} ${request.sender.surname?capitalize}</h3>
                        </a>
                        <p>You have been added as ${request.sender.name?capitalize}'s ${request.relationship}</p>
                        <p class="accept-decline-rel">
                            <form action="requests" method="post">
                                <button name="accept" value="${request.sender.id}" class="col-xs-3 btn btn-success btn-sm accept-button"><i class="fa fa-check"></i> Accept</button>
                                <button name="decline" value="${request.sender.id}" class="col-xs-3 col-xs-offset-3 col-sm-offset-1  btn btn-danger btn-sm decline-button"><i class="fa fa-times"></i> Decline</button>
                             </form>
                        </p>
                    </div>
                </div>
            </div>
        </#list>
    <#else>
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
                <div class="form-message text-center dark-background">
                    <p><i class="fa fa-times"></i> There are no requests</p>
                </div>
        </div>
    </#if>
</section>

<#include "footer.html">