<#assign action = "search">
<#include "frame_public.html">

<section class="search profile">
    
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
        <div id="filters" class="panel panel-body blue-background">
            <#if add_to??>
                <h4>Add relative to ${add_to.name} ${add_to.surname}</h4>
                <p>Search for an existing user to add</p>
            <#else>
                <h4>Add filters to your search</h4>
            </#if>
            <form action='<#if add_to??>addrelative<#else>search</#if>' method="POST" class="transparent">
                <fieldset>
                    <input class="form-control" type="text" name="name" placeholder="Name" value="${values.name}"/>
                    <input class="form-control" type="text" name="surname" placeholder="Surname" value="${values.surname}"/>                                
                    <#if user_logged??>
                        <input class="form-control" type="text" name="birthplace" placeholder="Birthplace" value="${values.birthplace}"/>
                        <input class="form-control" type="text" name="birthdate" placeholder="Birthdate" value='<#if values.birthdate != "">${values.birthdate}</#if>'/>
                        <#if add_to??>
                            <input type="hidden" name="add_to" value="${add_to.id}"/>
                        </#if>
                    <#else>
                        <a href="signup"><p>Sign up to get more features</p></a>
                    </#if>

                </fieldset>
                
                <div class="col-md-6 col-sm-6 col-xs-6 padding-none">
                    <a href="<#if add_to??>addrelative?to=${add_to.id}<#else>search</#if>" id="search-reset-filters" class="btn btn-default pull-left">Reset filters <i class="fa fa-fw fa-times"></i></a>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 padding-none">
                    <button type="submit" class="btn btn-inverse pull-right filter-search-button">Search <i class="fa fa-fw fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    
    <#if add_to??>
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 add-info">
            <div class="col-md-5 form-message text-center dark-background">
                <a href="create?addto=${add_to.id}"><i class="fa fa-user-plus"></i>Create basic profile</a>
            </div>
            <div class="col-md-5 form-message text-center dark-background">
                <a href="invite?addto=${add_to.id}"><i class="fa fa-share"></i>Invite to join</a>
            </div>
        </div>
    </#if>

    <#if message??>
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
            <div class="form-message text-center dark-background">
                <p><i class="fa fa-times"></i> ${message.msg}</p>
            </div>
        </div>
    <#else>
        <#if searching??>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile-label">
                <p class="no-collapsed">Showing results for "${searching}" <i class="fa fa-chevron-down"></i></p>
            </div>
        </#if>
    </#if>
    
    <#if results??>
        <#include "search_results.html">
    </#if>
    
</section>

<#include "footer.html">
