<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Search - Collaborative Genealogy</title>
        <!-- icon -->
        <link rel="shortcut icon" href="template/images/favicon.ico" />
        <!-- App Styling Bundle -->
        <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
        <link href="template/css/blue.css" rel="stylesheet">
        <link href="template/css/style.css" rel="stylesheet">
        <link href="template/css/responsive.css" rel="stylesheet">
        <!--Script-->
     
       
    </head>
    <body>
        <div class="layer"></div>

        <div class="content">

            <header>
                    <div class="xs-hidden" id="tree-icon">
                        <a href="/Collaborative_Genealogy"><img class="pull-left" src="template/images/tree-icon-200.png" alt="tree logo"/></a>
                    </div>

                    <div id="search-bar" class="col-md-4 col-sm-4 col-xs-8">
                        <form method="POST" >
                            <input type="button" value="Search"/>
                            <input placeholder="Search" type="text" required />

                        </form>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-4 button-top-right pull-right">
                        <#if logged>
                        <a href="profile?id=${loggeduser.id}" class="btn btn-primary pull-right">
                                <img src="template/profile/${loggeduser.imageurl}" alt="profile image" class="img-circle img-cover"/>
                                &nbsp;${loggeduser.name}
                        </a>
                        <#else>
                            <a href="login" class="btn btn-primary pull-right">
                            &nbsp;Login
                            </a>
                        </#if>
                    </div>
                
            </header>

            <section class="search">
                
                
                <div class="container-fluid users row">
                                        
                    <#if logged>
                        <div class="col-md-12 main-tile rounded-tile">
                            <div class="panel panel-body blue-background search-filters">
                                <h4>Add filters to your search</h4>
                                <form action="search" class="filter-search-form">
                                    <fieldset>
                                        <input class="form-control" type="text" name="name" placeholder="Name"/>
                                        <input class="form-control" type="text" name="birthplace" placeholder="Birthplace" />
                                        <input class="form-control" type="text" name="birthdate" placeholder="Birthdate" />
                                    </fieldset>
                                    <button type="submit" class="btn btn-inverse pull-right filter-search-button">Search <i class="fa fa-fw fa-search"></i></button>
                                    <a href="search" class="btn btn-default pull-left">Reset filters <i class="fa fa-fw fa-times"></i></a>
                                </form>
                            </div>
                        </div>
                    </#if>
                    
                    <div class="col-md-12 tile-divisor parents-divisor">
                        <a href="#">Showing results for "..." <i class="fa fa-chevron-down"></i></a>
                    </div>
                    
                    <#list results as user>
                        <!-- Tile -->
                        <div class="col-md-12 user-info relative-tile rounded-tile">
                            <div class="panel panel-body dark-background">
                                <a href="#" class="btn btn-default btn-xs add-button"><i class="fa fa-fw fa-plus"></i> Add</a>
                                <div class="col-md-12 relative-name top-name">
                                    <h3 class="relative-name">${user.name} ${user.surname}</h3>
                                </div>
                                <div class="col-md-3 responsive-inrow-div">
                                    <div class="img-circle">
                                        <img src="template/profile/${user.imageurl}" alt="profile image" class="img-circle img-cover" />
                                    </div>
                                    <div class="relative-anagraphics-info min-hidden">
                                        <p><i class="fa fa-calendar"></i> ${user.birthdate}</p>
                                        <p><i class="fa fa-map-marker"></i> ${user.birthplace}</p>
                                    </div>
                                </div>
                                <div class="col-md-9 relative-bio relative-name">
                                    <h3 class="relative-name main-name">${user.name} ${user.surname}</h3>
                                    <div class="relative-anagraphics-info max-hidden">
                                        <p><i class="fa fa-calendar"></i> ${user.birthdate}</p>
                                        <p><i class="fa fa-map-marker"></i> ${user.birthplace}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </#list>
                
                </div>
                
            </section>
            
           <footer>
                <#if logged>
                    <ul>
                        <li>
                            <a href="profile" class="ball tree icon" title="Your Profile">
                                <i class="fa fa-user fa-2x"></i>
                            </a>
                        </li>

                        <li>
                            <a href="settings" class="ball settings icon " title="Settings">
                                <i class="fa fa-cog fa-2x"></i>
                            </a>
                        </li>

                        <li>
                            <a href="logout" class="ball logout icon " title="Logout">
                                <i class="fa fa-sign-out fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </#if>
               
        </footer>
            
        </div>
    </body>

</html>
