<#assign action = "search">
<#include "frame_public.html">

<section class="search profile">
    
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
        <div class="panel panel-body blue-background search-filters">
            <h4>Add filters to your search</h4>
            <form action="search" method="POST" class="filter-search-form">
                <fieldset>
                    <input class="form-control" type="text" name="name" placeholder="Name" value="${values.name}"/>
                    <input class="form-control" type="text" name="surname" placeholder="Surname" value="${values.surname}"/>                                
                    <#if user_logged??>
                        <input class="form-control" type="text" name="birthplace" placeholder="Birthplace" value="${values.birthplace}"/>
                        <input class="form-control" type="text" name="birthdate" placeholder="Birthdate" value='<#if values.birthdate != "">${values.birthdate}</#if>'/>
                        <select class="form-control">
                            <option value="" disabled selected>Select a relative</option>
                            <#list family_tree.family_tree as node>
                                <#assign user = node.getUser()>
                                <#if node.label != "">
                                    <option value="${user.getId()}">${user.getName()} ${user.getSurname()} - ${node.label} </option>
                                </#if>
                            </#list>
                        </select>
                    <#else>
                        <p><a href="signup">Come on, sign up today and you will get more and more features</a></p>
                    </#if>

                </fieldset>
                <div class="col-md-6 col-sm-6 col-xs-6 padding-none">
                    <a href="search" id="search-reset-filters" class="btn btn-default pull-left">Reset filters <i class="fa fa-fw fa-times"></i></a>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 padding-none">
                    <button type="submit" class="btn btn-inverse pull-right filter-search-button">Search <i class="fa fa-fw fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>

    <#if message??>
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile rounded">
            <div class="form-message text-center dark-background">
                <i class="fa fa-times"></i><p>${message.msg}</p>
            </div>
        </div>
    <#else>
        <#if searching??>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 tile-label">
                <a href="#">Showing results for "${searching}" <i class="fa fa-chevron-down"></i></a>
            </div>
        </#if>
    </#if>
    
    <#if results??>
        <#include "search_results.html">
    </#if>
    
</section>

<#include "footer.html">
