<#include "frame_public.html">

    <section class="login settings"> 

        <div class="container-fluid">
            <div class="wrapper">

                <div class="row">

                    <div class="col-md-6 col-sm-6">

                        <div class="lock-container">
                            <div class="panel-default text-center">
                                <form action="change?action=avatar" class="panel-body" method="POST">
                                    <div class="avatar text-center">
                                        <img class="img-cover" src="template/profile/${user_logged.id}.jpg" alt="profile image" />
                                        <i class="fa fa-camera fa-3x hover-blue"></i>
                                        <input class="uploader" type="file" name="photo-upload" />
                                    </div>
                                    <#if msn??>
                                        <div class="form-message inline-block">
                                            <i class="fa fa-times"></i><p>${msn}</p>
                                        </div>
                                    </#if>

                                </form>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 col-sm-6"> 
                        <div class="lock-container">
                            <div class="panel-default text-center">

                                <form action="change?action=data" class="panel-body" method="POST">

                                    <fieldset>
                                        <input class="form-control" type="text" name="name" placeholder="name" value="${user_logged.name}" required />
                                        <input class="form-control" type="text" name="surname" placeholder="surname" value="${user_logged.surname}" required />
                                        <input class="form-control" type="text" name="gender" placeholder="gender" value="${user_logged.gender?cap_first}" required />
                                        <input class="form-control" type="text" name="birthdate" placeholder="birthdate (gg/mm/yyyy)" value="${user_logged.birthdate}" required />
                                        <input class="form-control" type="text" name="birthplace" placeholder="birthplace" value="${user_logged.birthplace}" required />
                                    </fieldset>

                                    <#if msn??>
                                        <div class="form-message">
                                            <i class="fa fa-times"></i><p>${msn}</p>
                                        </div>
                                    </#if>
                                    <button type="submit" class="col-xs-12 btn btn-primary">Change data<#--<i class="fa fa-fw fa-${button_icon}"></i>--></button>

                                </form>

                            </div>
                        </div>
                    </div>  
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">

                        <div class="lock-container">
                            <div class="panel-default text-center">

                                <form action="change?action=email" class="panel-body" method="POST">

                                    <fieldset>
                                        <input class="form-control"  type="email" name="current_email" placeholder="Current email" value="${user_logged.email}" disabled />
                                        <input class="form-control"  type="email" name="new_email" placeholder="New email" value="" required/>
                                        <input class="form-control"  type="email" name="confirm_email" placeholder="Confirm email" value="" required />
                                    </fieldset>

                                    <#if msn??>
                                        <div class="form-message">
                                            <i class="fa fa-times"></i><p>${msn}</p>
                                        </div>
                                    </#if>
                                    <button type="submit" class="col-xs-12 btn btn-primary">Change email</button>

                                </form>

                            </div>
                        </div>

                    </div>    

                    <div class="col-md-6 col-sm-6">

                        <div class="lock-container">
                            <div class="panel-default text-center">

                                <form action="change?action=password" class="panel-body" method="POST">

                                    <fieldset>
                                        <input class="form-control"  type="password" name="current_password" placeholder="Current password" required />
                                        <input class="form-control"  type="password" name="new_password" placeholder="New password" value="" required/>
                                        <input class="form-control"  type="password" name="confirm_password" placeholder="Confirm password" value="" required />
                                    </fieldset>

                                    <#if msn??>
                                        <div class="form-message">
                                            <i class="fa fa-times"></i><p>${msn}</p>
                                        </div>
                                    </#if>
                                    <button type="submit" class="col-xs-12 btn btn-primary">Change password</button>

                                </form>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>
            
<#include "footer.html">