<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>${user_logged.name?cap_first} - Collaborative Genealogy</title>
        <!-- icon -->
        <link rel="shortcut icon" href="template/images/favicon.ico" />
        <!-- App Styling Bundle -->
        <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
        <link href="template/css/blue.css" rel="stylesheet">
        <link href="template/css/style.css" rel="stylesheet">
        <link href="template/css/responsive.css" rel="stylesheet">
        <!--Script-->
     
       
    </head>
    
    <body>

        <header>
            
            <div class="xs-hidden" id="tree-icon">
                <a href="/Collaborative_Genealogy"><img class="pull-left" src="template/images/tree-icon-200.png" alt="tree logo"/></a>
            </div>

            <div id="search-bar" class="col-md-4 col-sm-4 col-xs-8">
                <form method="POST" >
                    <input type="button" value="Search"/>
                    <input placeholder="Search" type="text" required />

                </form>
            </div>
            <div class="col-xs-4 button-top-right pull-right">
                <a href="profile" class="btn btn-primary pull-right">
                        <img src="template/profile/${user_logged.id}.jpg" alt="profile image" class="img-circle img-cover"/>
                        <p>&nbsp;${user_logged.name}</p>
                </a>
            </div>
                
        </header>

        <section class="login settings"> 
            
            <div class="wrapper">
                
                <div class="row">
                    
                    <div class="col-md-6 test">

                        <div class="lock-container">
                            <div class="panel-default text-center">
                                <form action="change" class="panel-body" method="POST">
                                    <div class="avatar text-center">
                                        <img class="img-cover" src="template/profile/${user_logged.id}.jpg" alt="profile image" />
                                        <i class="fa fa-camera fa-3x"></i>
                                        <input class="uploader" type="file" name="photo-upload" />
                                    </div>
                                    <#if msn??>
                                        <div class="form-message">
                                            <i class="fa fa-times"></i><p>${msn}</p>
                                        </div>
                                    </#if>

                                </form>

                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-6 "> 
                        <div class="lock-container">
                            <div class="panel-default text-center">

                                <form action="change" class="panel-body" method="POST">

                                    <fieldset>
                                        <#list first_form as field>
                                            <input class="form-control" name="${field[0]}" type="${field[1]}" placeholder="${field[2]}" value="${field[3]}" />
                                        </#list>
                                    </fieldset>

                                    <#if msn??>
                                        <div class="form-message">
                                            <i class="fa fa-times"></i><p>${msn}</p>
                                        </div>
                                    </#if>
                                    <button type="submit" class="col-xs-12 btn btn-primary">Change data<#--<i class="fa fa-fw fa-${button_icon}"></i>--></button>

                                </form>

                            </div>
                        </div>
                    </div>  
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                      
                        <div class="lock-container">
                            <div class="panel-default text-center">

                                <form action="change" class="panel-body" method="POST">

                                    <fieldset>
                                        <#list second_form as field>
                                            <input class="form-control" name="${field[0]}" type="${field[1]}" placeholder="${field[2]}" value="${field[3]}"/>
                                        </#list>
                                    </fieldset>

                                    <#if msn??>
                                        <div class="form-message">
                                            <i class="fa fa-times"></i><p>${msn}</p>
                                        </div>
                                    </#if>
                                    <button type="submit" class="col-xs-12 btn btn-primary">Change email</button>

                                </form>

                            </div>
                        </div>
                        
                    </div>    
                    
                    <div class="col-md-6">
                        
                        <div class="lock-container">
                            <div class="panel-default text-center">

                                <form action="change" class="panel-body" method="POST">

                                    <fieldset>
                                        <#list third_form as field>
                                            <input class="form-control" name="${field[0]}" type="${field[1]}" placeholder="${field[2]}" />
                                        </#list>
                                    </fieldset>

                                    <#if msn??>
                                        <div class="form-message">
                                            <i class="fa fa-times"></i><p>${msn}</p>
                                        </div>
                                    </#if>
                                    <button type="submit" class="col-xs-12 btn btn-primary">Change password</button>

                                </form>

                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>

        </section>
            
        <footer>

            <ul>
                <li>
                    <a href="profile" class="ball tree " title="Settings">
                        <i class="fa fa-user fa-2x"></i>
                    </a>
                </li>

                <li>
                    <a href="#" class="ball settings active" title="Settings">
                        <i class="fa fa-cog fa-2x"></i>
                    </a>
                </li>

                <li>
                    <a href="logout" class="ball logout " title="Settings">
                        <i class="fa fa-sign-out fa-2x"></i>
                    </a>
                </li>
            </ul>
               
        </footer>
            
    </body>

</html>
