

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <title>
            <#if user_logged??>
                ${user_logged.name?capitalize} ${user_logged.surname?capitalize}
            <#else>
                ${action?cap_first}
            </#if> | Collaborative Genealogy
        </title>
        
        <!-- icon -->
        <link rel="shortcut icon" href="template/images/favicon.ico" />
        
        <!-- Alex Plus Styling -->
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans:700,400' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css' />
            
        <!-- App Styling Bundle -->
        <link href="template/css/vendor.css" rel="stylesheet" />
        <link href="template/css/form.css" rel="stylesheet" />
        <link href="template/css/style.css" rel="stylesheet" />
        <link href="template/css/responsive.css" rel="stylesheet" />
        <!--Script-->
        <script src="template/js/vendor.min.js" type="text/javascript"></script>
        <script src="template/js/script.js" type="text/javascript"></script>
        <#if script??><script src="template/js/${script}.js" type="text/javascript"></script></#if>
        
    </head>
    
    <body>
        
        <div class="header">
            
            <div class="xs-hidden" id="tree-icon">
                <a href="/collaborative/"><img class="pull-left" src="template/images/tree-icon-200.png" alt="tree logo"/></a>
            </div>
            
            <div id="search-bar" class="col-md-4 col-sm-4 col-xs-8">
                <form method="post" action="search" >
                    <input type="submit" name="search-bar-button" value="search-bar" />
                    <input type="text" name="search-bar-input" placeholder="Search" />
                </form>
            </div>

            <div class="col-xs-4 button-top-right pull-right">
                <#if user_logged??>
                    
                    <a href="profile" class="btn btn-primary pull-right ellipsis">
                        <img src="image-view?id=${user_logged.id}" alt="profile image" class="img-circle img-cover to-refresh"/>
                        ${user_logged.name}
                    </a>
                    
                <#else>
                
                    <#if action == "signup" || action == "search">
                        <#assign other_action = "login">
                    <#else>
                        <#assign other_action = "signup">
                    </#if>
                    
                    <a href="${other_action}" class="btn btn-primary pull-right ellipsis">
                        ${other_action?cap_first}
                    </a>
                </#if>
            </div>
        </div>
