form.transparent input,
form.transparent select,
form.transparent textarea{
    border: 0; 
    border-bottom: 1px solid rgb(40, 40, 40);
    background-color: transparent !important;
    color: #fff;
}

.form-control{
    font-size: 16px;
    width: 100%;
    height: 44px;
}

.form-message{
    padding: 8px;
    color: white;
    background: rgba(0,0,0,0.33);
    margin: 8px 0 3px;
    border-radius: 4px;
    height: auto;
}

.form-message p{
    display: inline-block;
    margin: 0;
}

/* INPUT */
    .form-control{
        padding: 10px 15px;
    }
    
/* BUTTON */
    button.form-control{
        font-weight: bold;
        margin-top: 5px;
        outline: 0;
        border-radius: 4px;
    }

/* SELECT */
    select.form-control{
        padding: 11px 10px;
        color: #bbb;
    }

    select option[disabled]{
        background: #ccc;
        font-size: 1.1em;        
    }
    
    select{
        appearance: none;
        -moz-appearance: none; 
        -webkit-appearance:none; 
    }

    select option{
        background-color: #fff;
        color:#000;
    }
    
    .select-wrapper i.select-icon{
        position: absolute;
        top: 3px;
        right: 21px;
        color: white;
        pointer-events: none;
    }
/* TEXTAREA */
    textarea.form-control{
        resize: none;
    }

    textarea.form-control::-webkit-scrollbar {
        width: 6px;
    }

    textarea.form-control::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(70, 135, 206,0.3); 
        background-color: rgba(70, 135, 206,0.4);
        border-radius: 2px;
    }

/* SISTEMAZIONI SELECTPICKER*/


button.btn.dropdown-toggle.selectpicker{
    background-color: #f7f7f7;
    height: 44px;
    border:0;
    font-size: 16px;
}

.transparent div.btn-group.bootstrap-select,
.transparent button.btn.dropdown-toggle.selectpicker{
    background-color: transparent !important;
    color: white;
}

section.settings .transparent button.btn.dropdown-toggle.selectpicker{
    border-bottom: 1px solid rgb(40, 40, 40);
}


section.search button.btn.dropdown-toggle.selectpicker{
    font-size: 14px;  
    height: 22px;
    padding-top:0;
}