/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-ott-2015, 15.11.41
    Author     : Gianluca
*/

.navbar-primary{
    background-color: rgba(70, 135, 206, 0.95);
}

.navbar-brand-logo {
    height: 40px;
}

.avatar {
    -o-object-fit: cover;
    object-fit: cover;
}

img.avatar-square{
    width: 40px;
    height: 40px;
}

div.profile .img-circle {
    width: 110px;
    height: 110px;
    margin: auto;
    padding: 0;
    margin-top: -24px;
}

div.relative-image .img-circle{
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 0;
}

div.relative-info h3{
    margin-top: 0;
}

div.relative-bio{
    margin-top: 10px;
}

p.bio{
    color: #676767;
}

/*.navbar-header{
    width: 285px;
}*/

@media (min-width: 768px){
    .navbar-header {
        width: 285px;
    }
}

ul.breadcrumb-nav a{
    padding-left: 5px;
    padding-right: 5px;
}

ul.breadcrumb-nav a i{
    font-size: 0.7em;
}

ul.breadcrumb-nav li:hover,
ul.navbar-right li:hover{
    /*background-color: #4687ce;*/
    background-color: rgba(47, 110, 178, 0.4);
    
}

h3.profile-relative-name a{
    color: #4d4d4d;
}

h3.profile-relative-name a:hover{
    color: #4d4d4d;
}

div.sibling-col{
    padding-left: 0px;
    margin-bottom: 10px;
}

@media (min-width: 768px){
    div.relatives{
        margin-left:10%;
        margin-right:10%;
    }
}

@media (min-width: 768px){
    div.user-info{
        display:none;
    }
}

.user-info .dark-background{
    background-color: #303030;
}

.dark h3{
    color: #ffffff;
}

.dark p{
    color: #676767;
}

.panel-navigation{
    margin-bottom: 20px;
}

.panel-navigation a{
    color: #707070;
}


//Allineamento icona: riga 3860 e 16939 blue.css (originali commentati)
//Per allargare la sidebar sx: modificare i valori in blue.css alle righe 17189, 17177 e 17183
