/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-ott-2015, 15.11.41
    Author     : Gianluca
*/

.avatar {
    -o-object-fit: cover;
    object-fit: cover;
}

img.avatar-square{
    width: 40px;
    height: 40px;
}

div.profile .img-circle {
    width: 110px;
    height: 110px;
    margin: auto;
    padding: 0;
    margin-top: -24px;
}

div.parent-image .img-circle{
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 0;
}

div.parent-info h3{
    margin-top: 0;
}

div.parent-bio{
    margin-top: 10px;
}

p.bio{
    color: #676767;
}