/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-ott-2015, 15.11.41
    Author     : Gianluca
*/

.avatar {
    -o-object-fit: cover;
    object-fit: cover;
}

img.avatar-square{
    width: 40px;
    height: 40px;
}

div.profile .img-circle {
    width: 110px;
    height: 110px;
    margin: auto;
    padding: 0;
    margin-top: -24px;
}

div.parent-image .img-circle{
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 0;
}

div.parent-info h3{
    margin-top: 0;
}

div.parent-bio{
    margin-top: 10px;
}

p.bio{
    color: #676767;
}

ul.breadcrumb-nav {
    //position: absolute;
    //margin-left: 285px;
}

.navbar-header{
    width: 285px;
}

@media (max-width: 768px){
    .navbar-header {
        width: auto;
    }
}

ul.breadcrumb-nav a{
    padding-left: 5px;
    padding-right: 5px;
}

ul.breadcrumb-nav a i{
    font-size: 0.7em;
}

ul.breadcrumb-nav li:hover{
    background-color: #2f6eb2
}

h3.profile-relative-name a{
    color: #4d4d4d;
}

h3.profile-relative-name a:hover{
    color: #4d4d4d;
}

.navbar-brand-logo {
    height: 40px;
}

//Allineamento icona: riga 3860 e 16939 blue.css (originali commentati)
/*
.sidebar{
    margin-top: 20px;
    background: #f6f6f6;
}

.sidebar-block{
    border-bottom: none;
}

.profile h4{
    margin-top: 15px !important;
    color:#4d4d4d !important;
}
*/

// Per allargare la sidebar sx: modificare i valori in blue.css alle righe 17189, 17177 e 17183
