


/* Small */
@media (max-width: 768px) {
    section{
        /*padding-bottom: 45px;*/
    }
    
    .xs-hidden{
        display:none !important;
    }
    
    /*==========================================*/
    /*                HEADER                     */
    /*==========================================*/
   
    
    #search-bar{
        margin-bottom: 5px;
    }
    
    header .button-top-right a{
        max-width: 100px;
    }
       
    /*==========================================*/
    /*                LOGIN                     */
    /*==========================================*/
    
     
    section.login .title img {
        width: 200px;
        height: 200px;
        margin: auto;
        display: block;
    }

    /*==========================================*/
    /*                FOOTER                   */
    /*==========================================*/
    
    footer{
        width: 100%;
        background: rgba(20, 20, 20, 0.8);
/*        position: fixed;
        bottom: 0;*/
    }
    
    footer ul{
        margin: 0;
        padding: 0;
    }
    
    footer ul li{
        text-align: center;
        display: inline-block;
        width: 32%;
        margin: 0;
        padding: 0;
        padding:5px 0;
    }
    
 
   
    
    /*==========================================*/
    /*                PROFILE                   */
    /*==========================================*/
    
    div.users{
        padding: 0;
        margin: 0;
    }   
    
    .breadcrumb-nav{
        margin: 5px 0;
        
    }
    
    .breadcrumb-nav a{
        display: inline-block;
        margin: 3px 0;
    }
}

/* Small + */
@media (min-width: 769px) {
    /*==========================================*/
    /*                HEADER                    */
    /*==========================================*/
    header{
        top: 15px;
        position:fixed;
        width:100%;
/*        z-index: 999;*/
    }
    
    section.profile, 
    section.login,
    section.search{
        margin-top: 70px;
        position: relative;
    }
    
    
    div.users{
         /*z-index: 9999;*/
    }
    /*==========================================*/
    /*                FOOTER                    */
    /*==========================================*/
    
    footer .logout{
        /*display: none;*/
    }
    footer .ball{
        position: fixed;
        left: 7px;
        width: 50px;
        height: 50px;
        font-size: 1.2em;
    }
    
    .settings{ bottom: 70px; }
    .tree{ bottom: 130px; }
    .logout{ bottom: 10px; }
    
    /*==========================================*/
    /*                PROFILE                   */
    /*==========================================*/
    
    .breadcrumb-nav.ball{
        position:relative;
    }
    
    .breadcrumb-nav{
        position:fixed;
        width: 50px;
        display: inline-block;
    }
    
}

/* Large */
@media (max-width: 991px) {
    .main-name,
    .max-hidden{
        display:none;
    }
    
    .top-name{
        text-align: center;
    }
    
    .responsive-inrow-div div{
        display: inline-block;
    }
    
    .relative-anagraphics-info{
        margin-left: 20px;
    }
}

/* Large +*/
@media (min-width: 992px) {
    .top-name,
    .min-hidden{
        display: none;
    }
}
