
/*==========================================*/
/*                LOGIN                     */
/*==========================================*/

/* Small */
@media (max-width: 768px) {
    
    #tree-icon{
        display: none;
    }
    #search-bar{
        margin-bottom: 5px;
    }
    
    section.login .title h1{
        display:none;
    }
    
    section.login .title img {
        width: 200px;
        height: 200px;
        margin: auto;
        display: block;
    }
    
    header{
        height: 100px;
    }
    
    div.users{
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 769px) {
    footer .ball{
        position: fixed;
        left: 7px;
        width: 50px;
        height: 50px;
        font-size: 1.2em;
    }
    
    .settings{ bottom: 10px; }
    .tree{ bottom: 70px; }
    
    .ball.profile-link{
        top: 70px;
    }
    
    .breadcrumb-nav.ball{
        position:relative;
    }
    
    .breadcrumb-nav{
        position:fixed;
        width: 50px;
        top:60px;
        display: inline-block;
    }
}

@media (min-width: 992px) {
    .top-name{
        display: none;
    }
}

@media (max-width: 991px) {
    .main-name{
        display:none;
    }
    
    .top-name{
        text-align: center;
    }
    
    .inrow-div div{
        display: inline-block;
    }
    
    .relative-anagraphics-info{
        margin-left: 20px;
    }
}