
/*==========================================*/
/*                LOGIN                     */
/*==========================================*/

/* Small */
@media (max-width: 768px) {
    
    #tree-icon{
        display: none;
    }
    #search-bar{
        margin-bottom: 5px;
    }
    
    section.login .title h1{
        display:none;
    }
    
    section.login .title img {
        width: 200px;
        height: 200px;
        margin: auto;
        display: block;
    }
    
    header{
        height: 100px;
    }
    
    div.users{
    margin: 0;
}
    
}

@media (min-width: 769px) {
    footer .ball{
        position: fixed;
        left: 7px;
        width: 50px;
        height: 50px;
        font-size: 1.3em;
    }
    
    .logout{
        bottom: 5px;
    }
    
     .settings{
        bottom: 70px;
    }
    
    
    
}

