
/* Small */
@media (max-width: 768px) {

    .xs-hidden{
        display:none !important;
    }
    
    /*==========================================*/
    /*                HEADER                     */
    /*==========================================*/
    
    header #search-bar{
        margin-bottom: 5px;
    }
    
    header .button-top-right a{
        max-width: 100px;
    }
       
    /*==========================================*/
    /*                LOGIN                     */
    /*==========================================*/

    section.login .title img {
        width: 200px;
        height: 200px;
        margin: auto;
        display: block;
    }

    /*==========================================*/
    /*                FOOTER                   */
    /*==========================================*/
    
    footer{
        width: 100%;
        background: rgba(20, 20, 20, 0.8);
    }
    
    footer ul{
        margin: 0;
        padding: 0;
    }
    
    footer ul li{
        text-align: center;
        display: inline-block;
        width: 32%;
        margin: 0;
        padding: 0;
        padding:5px 0;
    }

    /*==========================================*/
    /*                PROFILE                   */
    /*==========================================*/

    section.profile #breadcrumb-nav{
        margin: 2px 0;
    }
    
    section.profile .tile .biography-box{
        margin-top: 10px;
    }

}

/* Small + */
@media (min-width: 769px) {
    
    /*==========================================*/
    /*                HEADER                    */
    /*==========================================*/
    
    header{
        top: 15px;
        position:fixed;
        width:100%;
    }
    
    /*==========================================*/
    /*                HEADER                    */
    /*==========================================*/
    
    section{
        margin-top: 70px;
    }

    /*==========================================*/
    /*                FOOTER                    */
    /*==========================================*/

    footer .ball{
        position: fixed;
        right: 15px;
        width: 50px;
        height: 50px;
        font-size: 1.2em;
    }
    
    .settings{ bottom: 70px; }
    .tree{ bottom: 130px; }
    .logout{ bottom: 10px; }
    
    /*==========================================*/
    /*                PROFILE                   */
    /*==========================================*/
    
    section.profile #breadcrumb-nav{
        position:fixed;
        left: 5px;
        top: 67px;
        width: 50px;
        display: inline-block;
    }
    
    /*==========================================*/
    /*                SETTINGS                  */
    /*==========================================*/
    
    section.settings .wrapper{
        width: 650px;
    }
}

/* Large */
@media (max-width: 991px) {
    
    /*==========================================*/
    /*                PROFILE                   */
    /*==========================================*/
    
    .main-name,
    .max-hidden{
        display:none;
    }
    
    .top-name{
        text-align: center;
    }
    
    .responsive-row{
        height: 100px;
        position: relative;
    }
        
    .responsive-row .anagraphics-info,
    .responsive-row .img-circle{
        position:absolute;
        top:0;
    }
    

    .responsive-row .anagraphics-info{
        left: 115px;
    }

    .anagraphics-info{
        margin-left: 20px;
    }
    
}

/* Large +*/
@media (min-width: 992px) {
    
    /*==========================================*/
    /*                PROFILE                   */
    /*==========================================*/
    
    .top-name{
        display: none;
    }
    
    /*==========================================*/
    /*                SEARCH                    */
    /*==========================================*/
    
    section.search .anagraphics-info,
    section.search .img-circle{
        position:absolute;
        top:0;
    }
    
    section.search .anagraphics-info{
        left: 130px;
    }
}
