/*==========================================*/
/*                GENERAL                   */
/*==========================================*/ *

button{
    outline: none !important;
}

body{
    margin-top:15px; 
} 

ul{
    list-style: none;
}

/*==========================================*/
/*                HEADER                     */
/*==========================================*/

header{
    height: 35px;
    margin-bottom: 15px;
}

#tree-icon img{
    margin: 0 20px;
    height: 40px;
    width: 40px;
}
#search-bar{
    position:relative;
}

#search-bar input[type=button]{
    opacity: 0;
    position:absolute;
    width:35px;
    height:34px;
    border:0;
    left: 15px;
}

#search-bar input[type=text]{
    color: rgba(255,255,255,.5);
    padding: 0 10px 2px 39px;
    background: rgba(0,0,0,0.6);
    font-weight: 400;
    line-height: inherit;
    font-size: 15px;
    height: 34px;   
    border: 0;
    border-radius: 4px;
    outline:0;
    width: 100%;
}

#search-bar input[type=text]:focus{
    background-color:rgba(255,255,255,0.1);
    box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.1);
}

#search-bar::before{
    font-family: FontAwesome;
    content:"\f002";
    width: 50px;
    padding: 3px 11px;
    position: absolute;
    font-size: 20px;
}

header .button-top-right{
    padding-right: 10px;
    padding-left: 10px;
}

header .button-top-right a{
    /*min-width:110px;*/
    width: auto;
}



/*==========================================*/
/*                FOOTER                     */
/*==========================================*/
      
    
footer .ball{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    color: #555;
    border-radius: 20%;
    
}

footer .ball.icon:not(.active){
    opacity: 0.6;
}

footer .ball.icon:not(.active):hover{
    color: #4687ce;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

footer .ball.icon i{
    display: block;
    margin: 7px auto;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
    
}


.ball .img-circle{
    height: 40px;
    width: 40px;
}

footer .active{
    color: #4687ce;
/*    background-color: #000;*/
    /*box-shadow: 0p    x 0px 0px 1px rgba(70, 135, 206, 0.5);*/
}

/*==========================================*/
/*                LOGIN                     */
/*==========================================*/
section.login{
    margin: auto;
}

section.login .title h1{
    font-family: Arvo;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    margin: 50px 0;
    display: block;
}

section.login .title img{
    display:none;
}

section.login form.main-form input{
    font-size: 16px;
    background-color: #fff;
    height: 100%;
    padding: 10px 15px;
}

section.login form.main-form input:first-child {
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
}

section.login form.main-form input:last-child {
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
}

section.login form.main-form button{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 5px;
    outline: 0;
    border-radius: 3px;
}

section.login .lock-container {
    height: auto;
}

section.login .forgot-password {
    cursor: pointer;
    color: white;
}

section.login .forgot-password:hover {
    text-decoration: none;
}

section.login .error{
    padding: 14px 15px;
    color: #ddd;
    background: rgba(0,0,0,0.33);
    margin: 8px 0 3px;
    border-radius: 4px;
}

section.login .error p{
    margin: 0 0 0 7px;
    display: inline-block;
}

/*==========================================*/
/*                PROFILE                   */
/*==========================================*/
/*Recuperato da mycss.css*/


.avatar {
    -o-object-fit: cover;
    object-fit: cover;
}

img.avatar-square{
    width: 25px;
    height: 25px;
}

.main-tile .img-circle{
    width: 110px;
    height: 110px;
    padding: 0;
}

.relative-tile .img-circle{
    width:100px;
    height:100px;
}

div.relative-anagraphics-info{
    margin-top: 10px;
}

div.relative-bio{
    margin-top: 10px;
}

h3.relative-name a{
    color: #707070;
}

h3.relative-name a:hover{
    text-decoration: underline !important;
}

div.users{
    margin-right: 20%;
    margin-left: 20%;
}

div.blue-background{
    background-color: rgba(70, 135, 206, 0.8)
}

.main-tile .blue-background{
    border-radius: 4px;
}

.blue-background h3{
    color: #ffffff;
}

.blue-background p{
    color: #303030;
}

.blue-background .relative-anagraphics-info p{
    font-weight: bold;
}

.user-info h3{
    margin-top: 0;
}

.dark-background{
    background-color: rgba(20, 20, 20, 0.8);
    /*border-radius: 4px;*/
}

.rounded-tile .panel:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.rounded-tile .panel:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dark-background p{
    color: #707070;
}

div.tile-divisor{
    padding-left: 20px;
    margin-bottom: 10px;
}

.tile-divisor a{
    font-weight: bold;
    color: #ffffff;
}

div.panel{
    margin:0;
}

div.user-info,
.main-tile,
.relative-tile{
    margin-bottom: 20px;
}

i.top-quote{
    vertical-align: super;
    font-size: 0.65em;
}

div.relative-tile .panel:not(:last-child){
    border-bottom: 1px solid #2a2a2a;
}

.breadcrumb-nav a{
        display: inline-block;
        margin: 3px 0;
    }

    
/*==========================================*/
/*                 SEARCH                   */
/*==========================================*/

.search-filters h4{
    color: #ddd;
    margin-top: 0px;
    padding-left: 15px;
}

form.filter-search-form{
    padding-left: 15px;
    padding-right: 15px;
    /*width: 80%;*/
}

form.filter-search-form fieldset{
    /*width: 80%;*/
}

.search-filters input{
    margin-bottom: 10px;
}

.filter-search-button{
    width: auto;
}