/*==========================================*/
/*                GENERAL                   */
/*==========================================*/ *

*{
    outline: none !important;
}

body{
    margin-top:15px; 
} 

ul{
    list-style: none;
}

.img-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.rounded-tile > *:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.rounded-tile > *:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*==========================================*/
/*                HEADER                     */
/*==========================================*/

header{
    height: 35px;
    margin-bottom: 15px;
}

#tree-icon img{
    margin: 0 20px;
    height: 40px;
    width: 40px;
}
#search-bar{
    position:relative;
}

#search-bar input[type=button]{
    opacity: 0;
    position:absolute;
    width:35px;
    height:34px;
    border:0;
    left: 15px;
}

#search-bar input[type=text]{
    color: rgba(255,255,255,.5);
    padding: 0 10px 2px 39px;
    background: rgba(0,0,0,0.6);
    font-weight: 400;
    line-height: inherit;
    font-size: 15px;
    height: 34px;   
    border: 0;
    border-radius: 4px;
    outline:0;
    width: 100%;
}

#search-bar input[type=text]:focus{
    background-color:rgba(255,255,255,0.1);
    box-shadow: 0px 0px 1px 1px rgba(255,255,255,0.1);
}

#search-bar::before{
    font-family: FontAwesome;
    content:"\f002";
    width: 50px;
    padding: 3px 11px;
    position: absolute;
    font-size: 20px;
}

header .button-top-right{
    padding-right: 10px;
    padding-left: 10px;
}

header .button-top-right a{
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}

header .button-top-right img{
    width: 25px;
    height: 25px;
}

header .user-button a{
    height: 34px;
}

header .user-button a img{
    margin-top: -4px;
    
}

header .user-button a p{
    display: inline-block;
    margin-top: -4px;
}

/*==========================================*/
/*                FOOTER                     */
/*==========================================*/
      
    
footer .ball{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    color: #555;
    border-radius: 20%;
    
}

footer .ball:not(.active){
    opacity: 0.6;
}

footer .ball:not(.active):hover{
    color: #4687ce;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

footer .ball i{
    display: block;
    margin: 7px auto;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
    
}


.ball .img-circle{
    height: 40px;
    width: 40px;
}

footer .active{
    color: #4687ce;
/*    background-color: #000;*/
    /*box-shadow: 0p    x 0px 0px 1px rgba(70, 135, 206, 0.5);*/
}

/*==========================================*/
/*                LOGIN                     */
/*==========================================*/

section.login .title h1{
    font-family: Arvo;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    margin: 50px 0;
    display: block;
}

section.login .title img{
    display:none;
}

section.login form input{
    font-size: 16px;
    background-color: #fff;
    height: 100%;
    padding: 10px 15px;
}

section.login form button{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 5px;
    outline: 0;
    border-radius: 3px;
}

section.login .lock-container {
    height: auto;
}

section.login .forgot-password {
    cursor: pointer;
    color: white;
}

section.login .forgot-password:hover {
    text-decoration: none;
}

section.login .form-message{
    padding: 14px 15px;
    color: #ddd;
    background: rgba(0,0,0,0.33);
    margin: 8px 0 3px;
    border-radius: 4px;
}

section.login .form-message p{
    margin: 0 0 0 7px;
    display: inline-block;
}

/*==========================================*/
/*                PROFILE                   */
/*==========================================*/

.tile .img-circle{
    width:100px;
    height:100px;
}

.tile .anagraphics-info{
    margin-top: 10px;
    padding: 0;
}

.tile .biography-box{
    margin-top: 10px;
}

div.blue-background{
    background-color: rgba(70, 135, 206, 0.8)
}

.blue-background h3{
    color: #ffffff;
}

.blue-background p{
    color: #303030;
}

.blue-background .anagraphics-info p{
    font-weight: bold;
}



div.tile-divisor{
    padding-left: 20px;
    margin-bottom: 10px;
}

.tile-divisor a{
    font-weight: bold;
    color: #ffffff;
}

div.panel{
    margin:0;
}
.tile{
    margin-bottom: 20px;
}

i.top-quote{
    vertical-align: super;
    font-size: 0.65em;
}



.breadcrumb-nav a{
    margin: 3px 0;
}



.tile h3{
    margin-top: 0;
    word-wrap: break-word;  
}

.dark-background:not(:last-child){
    border-bottom: 1px solid #2a2a2a;
}

.dark-background{
    background-color: rgba(20, 20, 20, 0.8);
    position: relative;
}

.dark-background p{
    color: #707070;
}

.dark-background h3{
    color: #707070;
}

.dark-background h3:hover{
    text-decoration: underline !important;
}

.dark-background .delete-relative{
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0.8;
}

.dark-background .delete-relative a{
    color: #555;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.dark-background .delete-relative a:hover{
    color: #4687ce;
    
}

/*==========================================*/
/*                SETTINGS                  */
/*==========================================*/

section.settings .avatar{
    position: relative;
}

section.settings .avatar img{
    border-radius: 100%;
    height: 220px;
    width: 220px;
    margin: 24px auto;
}

section.settings .uploader,
section.settings .avatar i{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 30px;
    right: 25px;
}

section.settings .uploader{
    opacity: 0;
}

section.settings .avatar i{
    background:white;
    padding-top: 12px;
    font-size: 2em;
    color: #999;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

section.settings .avatar i:hover{
    color: #4687ce;
}


/*==========================================*/
/*                 SEARCH                   */
/*==========================================*/

.search-filters h4{
    color: #ddd;
    margin-top: 0px;
    padding-left: 15px;
}

form.filter-search-form{
    padding-left: 15px;
    padding-right: 15px;
    /*width: 80%;*/
}

form.filter-search-form fieldset{
    /*width: 80%;*/
}

.search-filters input{
    margin-bottom: 10px;
}

.filter-search-button{
    width: auto;
}

.inrow-div{
    display:inline-block;
}

.add-button{
    position: absolute;
    right: 30px;
    z-index: 10;
}
