/*==========================================*/
/*                GENERAL                   */
/*==========================================*/ *


*{
    outline: none !important;
}

body{
    background: url('../images/background.jpg') no-repeat fixed;
    margin-top:15px; 
    background-position: 50% 10%;
    background-size:cover;
} 

header p{
    margin:0;
}
section{
    z-index: 100 !important;
}

ul{
    list-style: none;
}

.img-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.rounded > *:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.rounded > *:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.inline-block{
    display: inline-block
}

.nowrap{
    white-space: nowrap;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover-blue{
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.hover-blue:hover{
    color: #4687ce !important;
}

.no-margin{
    
    margin: 0;
}

/*==========================================*/
/*                HEADER                     */
/*==========================================*/

header{
    height: 35px;
    margin-bottom: 15px;
}

header #tree-icon img{
    margin: 0 20px;
    height: 40px;
    width: 40px;
}
header #search-bar{
    position:relative;
}

header #search-bar input[type=submit]{
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    position:absolute;
    width:35px;
    height:34px;
    border:0;
    left: 15px;
}

header #search-bar input[type=text]{
    color: rgba(255,255,255,.5);
    padding: 0 10px 2px 39px;
    background: rgba(0,0,0,0.6);
    font-weight: 400;
    line-height: inherit;
    font-size: 15px;
    height: 34px;   
    border: 0;
    border-radius: 4px;
    outline:0;
    width: 100%;
}

header #search-bar input[type=text]:focus{
    background-color:rgba(255,255,255,0.1);
}

header #search-bar::before{
    font-family: FontAwesome;
    content:"\f002";
    width: 50px;
    padding: 3px 11px;
    position: absolute;
    font-size: 20px;
}

header .button-top-right{
    padding-right: 10px;
    padding-left: 10px;
}

header .button-top-right a{
    max-width: 300px;
    height: 34px;
    /*padding-top: 1px;*/
}

header .button-top-right a img{
    width: 25px;
    height: 25px;
    margin-top: -4px;
}

header .button-top-right a p{
    margin-top: 0px;
}

/*==========================================*/
/*                FOOTER                     */
/*==========================================*/

footer .ball{
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    color: #555;
    border-radius: 20%;
}

footer .ball:not(.active){
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

footer .ball:not(.active):hover{
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

footer .ball.requests i{
    margin:0;
}

footer .ball i{
    display: block;
    margin: 7px auto;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    
}

.ball .img-circle{
    height: 40px;
    width: 40px;
}

footer .ball.active{
    color: #4687ce;
}

/*==========================================*/
/*                LOGIN                     */
/*==========================================*/
section.login .title{
    pointer-events: none;
}


/*== HEADER ==*/
section.login .title h1{
    font-family: "Droid Sans";
    font-size: 70px;
    font-weight: bolder;
    color: #fff;
    margin: 50px 0;
    display: block;
    
}

section.login .title img{
    display:none;
}


section.login .lock-container {
    height: auto;
}

section.login .forgot-password {
    color: white;
    background: transparent;
    border: 0;
}



section.login .form-message,
section.search .form-message,
section.profile .form-message{
    padding: 8px;
    color: #ddd;
    background: rgba(0,0,0,0.33);
    margin: 8px 0 3px;
    border-radius: 4px;
}

section.search .form-message{
    font-size: 1.6em;
    
}

section.search .form-message p{
    
    color: white !important;
}

section.search .responsive-row{
    margin-left:20px;
}

section.login .form-message p,
section.search .form-message p,
section.profile .form-message p{
    margin: 0 0 0 7px;
    display: inline-block;
}

/*==========================================*/
/*                PROFILE                   */
/*==========================================*/

section.profile #breadcrumb-nav .ball{
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

section.profile #breadcrumb-nav .ball:hover{
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

section.profile #breadcrumb-nav .ball img{
    margin: 3px 0;
}

section.profile .tile{
    margin-bottom: 20px;
}

section.profile .tile h3{
    margin-top: 0;
    word-wrap: break-word;  
}

section.profile .tile .img-circle{
    width:100px;
    height:100px;
}

section.profile .tile .anagraphics-info{
    margin-top: 10px;
    padding: 0;
}

section.profile .blue-background .anagraphics-info a{
    color: #303030;
}

section.profile .blue-background .anagraphics-info a:hover{
    text-decoration: underline;
}

section.profile .tile-label{
    padding-left: 20px;
    margin-bottom: 10px;
}

section.profile .tile-label p{
    margin:0;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

section.profile .tile-label i.fa-chevron-down{
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

section.profile .tile-label i.fa-chevron-down.down{
    -ms-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}

section.profile i.top-quote{
    vertical-align: super;
    font-size: 0.65em;
}

section.profile .blue-background,
section.profile .dark-background{
    margin:0;
}

section.profile .blue-background{
    background-color: rgba(70, 135, 206, 0.8)
}

section.profile .blue-background h3{
    color: #ffffff;
}

section.profile .blue-background p{
    color: #303030;
}

section.profile .blue-background .anagraphics-info p{
    font-weight: bold;
}

section.profile .dark-background:not(:last-child){
    border-bottom: 1px solid #2a2a2a;
}

section.profile .dark-background{
    background-color: rgba(20, 20, 20, 0.8);
    position: relative;
}

section.profile .dark-background p,
section.profile .dark-background a,
section.profile .dark-background h3{
    color: #707070;
    
}

section.profile .dark-background .delete-relative{
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    background: transparent;
    cursor: pointer;
}

/*==========================================*/
/*                SETTINGS                  */
/*==========================================*/
section.settings {
    margin-bottom: 20px;
}

section.settings .wrapper{
    background-color: rgba(20, 20, 20, 0.8);
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px;
}

section.settings .avatar{
    position: relative;
}
    
section.settings select.form-control{
    color: #fff;
    background-color: transparent;
} 
section.settings .avatar img{
    border-radius: 100%;
    height: 228px;
    width: 228px;
    margin: 24px auto;
}

section.settings .uploader,
section.settings .avatar i{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

section.settings .uploader{
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}

section.settings .avatar i{
    background-color: rgba(20, 20, 20, 1);
    padding-top: 12px;
    font-size: 2em;
    color: #999;
}

p.adding-subtitle{
    padding-left: 15px;
    font-size:0.9em;
    margin-bottom: 0;
}

/*==========================================*/
/*                 SEARCH                   */
/*==========================================*/

section.search .search-filters h4{
    color: #ddd;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 15px;
    
}

section.search .search-filters p{
    color: white;
    font-weight: bolder;
}

section.search .search-filters p.information{
    font-size: 0.8em;
    margin-left: 30px;
    margin-top: -5px;
}

section.search .filter-search-button{
    width: auto;
}

section.search .responsive-row{
    height: 120px;
}



section.search .wrapper{
    padding:0;
}


/*==========================================*/
/*                 REQUESTS                 */
/*==========================================*/

.accept-decline-rel a{
    color: white !important;
    min-width: 80px;
    /*width: 100px;*/
}

section.requests .dark-background .biography-box{
    margin-top: 20px;
    /*text-align: center;*/
}

section.requests .dark-background .biography-box p{
    margin-bottom: 20px;
}