/*==========================================*/
/*                GENERAL                   */
/*==========================================*/ 

*{
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
    background: url('../images/background.jpg') no-repeat fixed;
    margin-top:15px; 
    padding-top: 0;
} 

div.section{
    z-index: 100 !important;
}

ul{
    list-style: none;
}

.img-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.rounded > *:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.rounded > *:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.inline-block{
    display: inline-block
}

.nowrap{
    white-space: nowrap;
}

.break-word{
    word-wrap: break-word; 
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover-blue{
    -webkit-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

.hover-blue:hover{
    color: #4687ce !important;
}

.no-margin{
    
    margin: 0;
}

.text-white{
    color: #ffffff;
}

h2.text-white{
    font-size: 2.5em;
}

/*==========================================*/
/*                HEADER                     */
/*==========================================*/


div.header{
    height: 35px;
    margin-bottom: 15px;
}

div.header #tree-icon img{
    margin: 0 20px;
    height: 40px;
    width: 40px;
}

div.header #search-bar{
    position:relative;
}

div.header #search-bar input[type=submit]{
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    position:absolute;
    width:35px;
    height:34px;
    border:0;
    left: 15px;
}

div.header #search-bar input[type=text]{
    color: rgba(255,255,255,.5);
    padding: 0 10px 2px 39px;
    background: rgba(0,0,0,0.6);
    font-weight: 400;
    line-height: inherit;
    font-size: 15px;
    height: 34px;   
    border: 0;
    border-radius: 4px;
    outline:0;
    width: 100%;
}

div.header #search-bar input[type=text]:focus{
    background-color:rgba(255,255,255,0.1);
}

div.header #search-bar::before{
    font-family: FontAwesome;
    content:"\f002";
    width: 50px;
    padding: 3px 11px;
    position: absolute;
    font-size: 20px;
}

div.header .button-top-right{
    padding-right: 10px;
    padding-left: 10px;
}

div.header .button-top-right a{
    max-width: 300px;
    height: 34px;
    /*padding-top: 1px;*/
}

div.header .button-top-right a img{
    width: 25px;
    height: 25px;
    margin-top: -4px;
}

div.header .button-top-right a p{
    margin-top: 0px;
}

/*==========================================*/
/*                FOOTER                    */
/*==========================================*/

div.footer .ball{
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    color: #555;
    border-radius: 20%;
}

div.footer .ball.requests i{
    margin:0;
}

div.footer .ball i{
    display: block;
    margin: 7px auto;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    
}

.ball .img-circle{
    height: 40px;
    width: 40px;
}

div.footer .ball.active{
    color: #4687ce;
}

/*==========================================*/
/*                BALL                      */
/*==========================================*/

.ball:not(.active){
    opacity: 0.8;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.red{
    color:#D22222;
}

.ball:hover{
    opacity: 1 !important;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/*==========================================*/
/*                TILE                      */
/*==========================================*/
.tile{
    margin-bottom: 20px;
}

.tile h3{
    margin-top: 0;
}

.tile .img-circle{
    width:100px;
    height:100px;
}

.tile .anagraphics-info{
    margin-top: 10px;
    padding: 0;
}

.blue-background .anagraphics-info a{
    color: #303030;
}

.blue-background .anagraphics-info a:hover{
    text-decoration: underline;
}

.tile-label{
    padding-left: 20px;
    margin-bottom: 10px;
}

.tile-label p{
    margin:0;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.tile-label i.fa-chevron-down{
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.tile-label i.fa-chevron-down.down{
    -ms-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}

i.top-quote{
    vertical-align: super;
    font-size: 0.65em;
}

.blue-background,
.dark-background{
    margin:0;
}

.blue-background{
    background-color: rgba(70, 135, 206, 0.8);
}

.blue-background h3{
    color: #ffffff;
}

.blue-background p{
    color: #303030;
}

.blue-background .anagraphics-info p{
    font-weight: bold;
}

.blue-background.basic{
    background: repeating-linear-gradient(
        -55deg,
        rgba(70, 135, 206, 0.8),
        rgba(70, 135, 206, 0.8) 10px,
        rgba(88, 141, 199, 0.8) 10px,
        rgba(88, 141, 199, 0.8) 20px
    );
}

.dark-background.parent-tile:not(:last-child){
    border-bottom: 1px solid #2a2a2a;
}

.dark-background{
    background-color: rgba(20, 20, 20, 0.8);
    position: relative;
}

.dark-background p,
.dark-background a,
.dark-background h3{
    color: #707070;
    
}

.dark-background .delete-relative{
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    background: transparent;
    cursor: pointer;
}


.dark-background.basic{
    background: repeating-linear-gradient(
        -55deg,
        rgba(35, 35, 35, 0.8),
        rgba(35, 35, 35, 0.8) 10px,
        rgba(25, 25, 25, 0.8) 10px,
        rgba(25, 25, 25, 0.8) 20px
    );
}

/*==========================================*/
/*                LOGIN                     */
/*==========================================*/
div.section.login .title{
    pointer-events: none;
}

div.section.login .wrapper {
    margin: auto;
    max-width: 300px;
    height: auto;
}

div.section.login .title h1{
    font-family: "Droid Sans";
    font-size: 70px;
    font-weight: bolder;
    color: #fff;
    margin: 50px 0;
    display: block;
}

div.section.login .title img{
    display:none;
}

div.section.login .forgot-password {
    color: white;
    background: transparent;
    border: 0;
}

div.section.search .responsive-row{
    margin-left:20px;
}

div.section.login .form-message p,
div.section.search .form-message p,
div.section.profile .form-message p{
    margin: 0 0 0 7px;
    display: inline-block;
}

/*==========================================*/
/*                PROFILE                   */
/*==========================================*/

div.section.profile #breadcrumb-nav .ball img{
    margin: 3px 0;
}

div.section.profile #breadcrumb-nav .ball.cleaner{
    opacity: 0.4;
}

/*==========================================*/
/*                SETTINGS                  */
/*==========================================*/
div.section.settings {
    margin-bottom: 20px;
}

div.section.settings .wrapper{
    background-color: rgba(20, 20, 20, 0.8);
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px;
}

div.section.settings .avatar{
    position: relative;
}
    
div.section.settings .avatar img{
    border-radius: 100%;
    height: 237px;
    width: 237px;
    margin: 24px auto;
}

div.section.settings .uploader,
div.section.settings .avatar i{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

div.section.settings .uploader{
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}

div.section.settings .avatar i{
    background-color: rgba(20, 20, 20, 1);
    padding-top: 12px;
    font-size: 2em;
    color: #999;
}

/*==========================================*/
/*                 SEARCH                   */
/*==========================================*/
 
#filters h4{
    color: #ddd;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 15px;

}

#filters p{
    color: white;
    font-weight: bolder;
    padding-left: 15px;
    font-size:0.9em;
    margin-bottom: 0;
}

#filters form{
    padding-left: 15px;
    padding-right: 15px;
}

#filters .form-control{
    border-bottom: 1px solid rgba(200, 200, 200, 0.8);
}

#filters fieldset{
        margin-bottom: 10px;
    }

div.section.search .select-wrapper select{
    border: 0;
}

div.section.search .responsive-row{
    height: 120px;
}

div.section.search .wrapper{
    padding:0;
}

div.section.search .add-info div{
    font-size: 1em;
    margin-bottom: 10px;
}

div.section.search .add-info div a{
    color: #ffffff;
}

div.section.search .add-info div a:hover{
    text-decoration: underline;
    color: #ffffff;
}

/*==========================================*/
/*                 REQUESTS                 */
/*==========================================*/

div.section.requests .accept-decline-rel a{
    color: white !important;
    min-width: 80px;
    /*width: 100px;*/
}

div.section.requests .dark-background .biography-box{
    margin-top: 20px;
    /*text-align: center;*/
}

div.section.requests .dark-background .biography-box p{
    margin-bottom: 20px;
}
