/*==========================================*/
/*                GENERAL                   */
/*==========================================*/ *

*{
    outline: none !important;
}

body{
    margin-top:15px; 
} 

header{
    z-index: -1 !important;
}
section{
    z-index: 100 !important;
}

ul{
    list-style: none;
}

.img-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.rounded > *:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.rounded > *:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.inline-block{
    display: inline-block
}

.nowrap{
    white-space: nowrap;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover-blue{
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.hover-blue:hover{
    color: #4687ce !important;
}

/*==========================================*/
/*                HEADER                     */
/*==========================================*/

header{
    height: 35px;
    margin-bottom: 15px;
}

header #tree-icon img{
    margin: 0 20px;
    height: 40px;
    width: 40px;
}
header #search-bar{
    position:relative;
}

header #search-bar input[type=button]{
    opacity: 0;
    position:absolute;
    width:35px;
    height:34px;
    border:0;
    left: 15px;
}

header #search-bar input[type=search]{
    color: rgba(255,255,255,.5);
    padding: 0 10px 2px 39px;
    background: rgba(0,0,0,0.6);
    font-weight: 400;
    line-height: inherit;
    font-size: 15px;
    height: 34px;   
    border: 0;
    border-radius: 4px;
    outline:0;
    width: 100%;
}

header #search-bar input[type=search]:focus{
    background-color:rgba(255,255,255,0.1);
    box-shadow: 0px 0px 1px 1px rgba(255,255,255,0.1);
}

header #search-bar::before{
    font-family: FontAwesome;
    content:"\f002";
    width: 50px;
    padding: 3px 11px;
    position: absolute;
    font-size: 20px;
}

header .button-top-right{
    padding-right: 10px;
    padding-left: 10px;
}

header .button-top-right a{
    max-width: 300px;
    height: 34px;
}

header .button-top-right a img{
    width: 25px;
    height: 25px;
    margin-top: -4px;
}

header .button-top-right a p{
    margin-top: -4px;
}

/*==========================================*/
/*                FOOTER                     */
/*==========================================*/

footer .ball{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    color: #555;
    border-radius: 20%;
}

footer .ball:not(.active){
    opacity: 0.6;
}

footer .ball:not(.active):hover{
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

footer .ball i{
    display: block;
    margin: 7px auto;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
    
}

.ball .img-circle{
    height: 40px;
    width: 40px;
}

footer .ball.active{
    color: #4687ce;
}

/*==========================================*/
/*                LOGIN                     */
/*==========================================*/

section.login .title h1{
    font-family: Arvo;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    margin: 50px 0;
    display: block;
}

section.login .title img{
    display:none;
}

section.login form .form-control{
    font-size: 16px;
    width: 100%;
    height: 100%;
}

section.login input.form-control{
    padding: 10px 15px;
}

section.login select.form-control{
    padding: 11px 10px;
    color: #bbb;
}

section.login select.form-control option[disabled]{
    background: #ededed;
    font-style:italic;
}

section.login form button{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 5px;
    outline: 0;
    border-radius: 3px;
}

section.login .lock-container {
    height: auto;
}

section.login .forgot-password {
    cursor: pointer;
    color: white;
}

section.login .forgot-password:hover {
    text-decoration: none;
}

section.login .form-message{
    padding: 8px;
    color: #ddd;
    background: rgba(0,0,0,0.33);
    margin: 8px 0 3px;
    border-radius: 4px;
}

section.login .form-message p{
    margin: 0 0 0 7px;
    display: inline-block;
}

/*==========================================*/
/*                PROFILE                   */
/*==========================================*/

section.profile .tile{
    margin-bottom: 20px;
}

section.profile .tile h3{
    margin-top: 0;
    word-wrap: break-word;  
}

section.profile .tile .img-circle{
    width:100px;
    height:100px;
}

section.profile .tile .anagraphics-info{
    margin-top: 10px;
    padding: 0;
}

section.profile .tile-label{
    padding-left: 20px;
    margin-bottom: 10px;
}

section.profile .tile-label a{
    font-weight: bold;
    color: #ffffff;
}

section.profile i.top-quote{
    vertical-align: super;
    font-size: 0.65em;
}

section.profile .breadcrumb-nav a{
    margin: 3px 0;
}

section.profile .blue-background,
section.profile .dark-background{
    margin:0;
}

section.profile .blue-background{
    background-color: rgba(70, 135, 206, 0.8)
}

section.profile .blue-background h3{
    color: #ffffff;
}

section.profile .blue-background p{
    color: #303030;
}

section.profile .blue-background .anagraphics-info p{
    font-weight: bold;
}

section.profile .dark-background:not(:last-child){
    border-bottom: 1px solid #2a2a2a;
}

section.profile .dark-background{
    background-color: rgba(20, 20, 20, 0.8);
    position: relative;
}

section.profile .dark-background p,
section.profile .dark-background a,
section.profile .dark-background h3{
    color: #707070;
    
}
section.profile .dark-background h3{
    color: inherit;
}

section.profile .dark-background .delete-relative{
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0.8;
    
}

section.profile .dark-background .delete-relative button{
    background: transparent;
    border:0;
}

section.profile .dark-background .delete-relative a:hover{
    color: #4687ce;
}

/*==========================================*/
/*                SETTINGS                  */
/*==========================================*/
section.settings {
    margin-bottom: 20px;
}

section.settings .wrapper{
    background-color: rgba(20, 20, 20, 0.8);
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px;
}

section.settings .avatar{
    position: relative;
}
    
section.settings select.form-control{
    color: #fff;
    background-color: transparent;
} 
section.settings .avatar img{
    border-radius: 100%;
    height: 220px;
    width: 220px;
    margin: 24px auto;
}

section.settings .uploader,
section.settings .avatar i{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 30px;
    right: 30px;
}

section.settings .uploader{
    opacity: 0;
}

section.settings .avatar i{
    background-color: rgba(20, 20, 20, 1);
    padding-top: 12px;
    font-size: 2em;
    color: #999;
}

/*==========================================*/
/*                 SEARCH                   */
/*==========================================*/

section.search .search-filters h4{
    color: #ddd;
    margin-top: 0px;
    padding-left: 15px;
}

section.search form.filter-search-form{
    padding-left: 15px;
    padding-right: 15px;
}

section.search .search-filters input{
    margin-bottom: 10px;
}

section.search .filter-search-button{
    width: auto;
}

section.search .inrow-div{
    display:inline-block;
}

section.search .add-button{
    position: absolute;
    right: 30px;
    z-index: 10;
}

section.search .responsive-row{
    height: 120px;
}

section.search .relationship{
    position: relative;
} 


section.search .relationship i{
    position: absolute;
    top: 3px;
    right: 21px;
    color: white;
    z-index: 100000;
    pointer-events: none;
}

section.search .wrapper{
    padding:0;
}

/*==========================================*/
/*              FORM-INPUT                  */
/*==========================================*/

section.search .form-control,
section.settings .form-control{
    border: 0; 
    border-bottom: 1px solid rgba(40, 40, 40, 1);
    background-color: transparent;
    color: #fff;
}

section.search .form-control{
    border-bottom: 1px solid rgba(200, 200, 200, 0.8);
}

section.search select.form-control, 
section.settings select.form-control{
    appearance:none;
    -moz-appearance:none; 
    -webkit-appearance:none; 
}

select.form-control{
    
    border:0;
    height: 22px;
    width: 100%;
    z-index: 100;
}

select.form-control option{
    background-color: #fff;
    color:#000;
}
