
/*==========================================*/
/*                LOGIN                     */
/*==========================================*/

body.login .layer{
    background: #000;
    opacity: 0.8;
    position: fixed;
    top:0;
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
}

body.login .content{
    margin-top:15px; 
}   

body.login .header{
    height: 35px;
}

#tree-icon img{
    height: 40px;
    width: 40px;
}

#search-bar input{
    color: rgba(255,255,255,.5);
    padding: 0 10px 2px 39px;
    background: rgba(0,0,0,.13);
    font-weight: 400;
    line-height: inherit;
    font-size: 15px;
    height: 34px;   
    border: 0;
    border-radius: 4px;
    border: 1px solid #4687ce;
    width: 100%;
}

#search-bar::before{
    font-family: FontAwesome;
    content:"\f002";
    width: 50px;
    padding: 3px 12px;
    position: absolute;
    font-size: 20px;
    color: inherit;
    z-index: 2;
}

body.login .button-top-right a{
    min-width:72px;
    width:100%;
}

body.login .title h1{
    font-family: Arvo;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    margin: 50px 0;
    display: block;
}

body.login .title{
    text-align: center;
}

body.login .title img{
    display:none;
}

body.login form input{
    font-size: 16px;
    background-color: #fff;
    height: 100%;
    padding: 10px 15px;
}

body.login form input:first-child {
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
}

body.login form input:last-child {
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
}

body.login form button{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 5px;
    outline: 0;
    border-radius: 3px;
}

body.login .lock-container {
    height: auto;
}

body.login .forgot-password {
    cursor: pointer;
    color: white;
    display: block;
}

body.login .forgot-password:hover {
    color: #fff;
    text-decoration: none;
}