/*==========================================*/
/*                GENERAL                   */
/*==========================================*/ *

button{
    outline: none !important;
}

body{
    margin-top:15px; 
}  

/*==========================================*/
/*                HEADER                     */
/*==========================================*/

header{
    height: 35px;
    margin-bottom: 15px;
}

#tree-icon img{
    height: 40px;
    width: 40px;
}
#search-bar{
    position:relative;
}

#search-bar input[type=button]{
    opacity: 0;
    position:absolute;
    width:35px;
    height:34px;
    border:0;
    left: 15px;
}

#search-bar input[type=text]{
    color: rgba(255,255,255,.5);
    padding: 0 10px 2px 39px;
    background: rgba(0,0,0,0.6);
    font-weight: 400;
    line-height: inherit;
    font-size: 15px;
    height: 34px;   
    border: 0;
    border-radius: 4px;
    outline:0;
    width: 100%;
}

#search-bar input[type=text]:focus{
    background-color:rgba(255,255,255,0.1);
    box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.1);
}

#search-bar::before{
    font-family: FontAwesome;
    content:"\f002";
    width: 50px;
    padding: 3px 11px;
    position: absolute;
    font-size: 20px;
}

header .button-top-right a{
    min-width:100px;
    width:100%;
}

/*==========================================*/
/*                FOOTER                     */
/*==========================================*/
      
footer .ball{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 5px;
    background-color: #000;
    box-shadow: 0px 0px 0px 2px rgba(70, 135, 206, 0.5);
    cursor: pointer;
    text-align: center;
    color: #4687ce;
    opacity: 0.75;
}

footer .ball:hover{
    color: #4687ce;
    opacity: 1;
}

footer .ball i{
    display: block;
    margin: 8px auto;
}

/*==========================================*/
/*                LOGIN                     */
/*==========================================*/

section.login .title h1{
    font-family: Arvo;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    margin: 50px 0;
    display: block;
}

section.login .title img{
    display:none;
}

section.login form.main-form input{
    font-size: 16px;
    background-color: #fff;
    height: 100%;
    padding: 10px 15px;
}

section.login form.main-form input:first-child {
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
}

section.login form.main-form input:last-child {
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
}

section.login form.main-form button{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 5px;
    outline: 0;
    border-radius: 3px;
}

section.login .lock-container {
    height: auto;
}

section.login .forgot-password {
    cursor: pointer;
    color: white;
}

section.login .forgot-password:hover {
    text-decoration: none;
}

section.login .error{
    padding: 14px 15px;
    color: #fff;
    background: rgba(0,0,0,0.33);
    margin: 8px 0 3px;
    border-radius: 4px;
}

section.login .error p{
    margin: 0 0 0 7px;
    display: inline-block;
}

/*==========================================*/
/*                PROFILE                   */
/*==========================================*/
/*Recuperato da mycss.css*/

.avatar {
    -o-object-fit: cover;
    object-fit: cover;
}

img.avatar-square{
    width: 25px;
    height: 25px;
}

div.profile .img-circle {
    width: 110px;
    height: 110px;
    margin: auto;
    padding: 0;
    margin-top: -24px;
}

div.relative-image .img-circle{
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 0;
}

div.relative-info h3{
    margin-top: 0;
}

div.relative-bio{
    margin-top: 10px;
}

h3.profile-relative-name a{
    color: #4d4d4d;
}

h3.profile-relative-name a:hover{
    color: #4d4d4d;
}

.dark-background{
    background-color: rgba(10, 10, 10, 0.4);
}

.dark h3{
    color: #ffffff;
}

.dark p{
    color: #676767;
}


div.users{
    margin-right: 20%;
    margin-left: 20%;
}

div.blue-background{
    background-color: rgba(70, 135, 206, 0.8)
}

.main-tile .blue-background{
    border-radius: 4px;
}

.blue-background h3{
    color: #ffffff;
}

.blue-background p{
    color: #404040;
}

.blue-background .relative-info p{
    font-weight: bold;
}
