
/*==========================================*/
/*                LOGIN                     */
/*==========================================*/

.layer{
    content: "";
    background: #000;
    opacity: 0.7;
    position: absolute;
    top:0;
    width: 100%;
    height:100%;
}


#tree-icon{
    height: 40px;
    width: 40px
}

#search-bar{
    display: inline-block;
    
}

#search-bar:before{
    content:"\f002";
}
.content{
    margin-top:15px; 
}
.login h1{
    font-size: 60px;
    font-weight: bolder;
    margin: 50px auto;
    color: #fff;
}

.login .title{
    text-align: center;
}

.login form button{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 5px;
    outline: 0;
    border-radius: 0 0 5px 5px;
}

.login form input{
    font-size: 16px;
    background-color: #fff;
    height: 100%;
    padding: 10px 15px;
}

.login form input:first-child {
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
}


body.login .lock-container {
    height: auto;
}

.forgot-password {
    cursor: pointer;
    color: white;
    display: block;
}

.forgot-password:hover {
    color: #fff;
    text-decoration: none;
}


